#aboutMainDiv {
    color: white;
                 display: flex;
              flex-direction:column;
              justify-content:center;
              align-items: center;
              width: 50%;
              height: 100%;
              margin-left: auto;
              margin-right: auto;
}


#aboutSetHeading {
    font-size: 30px;
    margin-top:20px;
}

#aboutBtn{
    border:2px solid rgb(1, 129, 245); 
    font-size:16px;
    color:white;
    margin-top:20px;
    padding-left:55px;
    padding-right:55px;
    width:30%;
    background:linear-gradient(to bottom, #0181f5 0%, rgba(93, 178, 255, 0.99) 100%);
    border-radius:20px;
    height:35px;
}


@media only screen and (max-width: 1840px) and (min-width:  1440px) {

    #aboutBtn {
        padding-left: 0;
        padding-right: 0;
        width: 40%;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1024px) {
    #aboutMainDiv {
        text-align: center;
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
       
    }
    #aboutSetHeading{
        font-size: 26px;
        padding-left: 180px;
        padding-right: 180px;
    }

    #aboutBtn {
        padding-left: 0;
        padding-right: 0;
        width: 40%;
    }

}


@media only screen and (max-width: 1024px) and (min-width: 768px) {
    #aboutMainDiv {
        text-align: center;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        margin-left: 0;
        margin-right: 0;
    }
    #aboutSetHeading{
        font-size: 25px;
    }

    #aboutBtn {
        padding-left: 0;
        padding-right: 0;
        width: 40%;
    }

}

@media only screen and (max-width: 768px) and (min-width: 428px) {
    #aboutMainDiv {
        text-align: center;
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
        margin-left: 0;
        margin-right: 0;
    }
    #aboutSetHeading{
        font-size: 18px;
    }

    #aboutBtn {
        padding-left: 0;
        padding-right: 0;
        width: 40%;
    }
}


@media only screen and (max-width: 428px) and (min-width: 375px) {
    #aboutMainDiv {
        text-align: center;
        width: 100%;
        padding-left: 20px;
    padding-right: 20px;
        margin-left: 0;
        margin-right: 0;
    }
    #aboutSetHeading{
        font-size: 20px;
    }

    #aboutBtn {
        padding-left: 0;
        padding-right: 0;
        width: 70%;
    }
}


@media only screen and (max-width: 375px) and (min-width: 280px) {

    #aboutMainDiv {
        text-align: center;
        width: 100%;
        padding-left: 20px;
    padding-right: 20px;
        margin-left: 0;
        margin-right: 0;
    }
    #aboutSetHeading{
        font-size: 20px;
    }

    #aboutBtn {
        padding-left: 0;
        padding-right: 0;
        width: 80%;
    }

}