
@media only screen and (max-width: 900px) and (min-width: 280px)  {
    .cNNJIt {
        display: none!important;   
    }
  }


 
  @media only screen and (max-width: 900px) and (min-width: 280px)  {
    .jRFJkP {
        display: none!important;   
    }
 
  }


  .rec-dot{
    display: none!important;   
  }

  .jRFJkP:hover:enabled ,.jRFJkP:focus:enabled{
    background-color:#5DB2FF!important;
  }

  




@media only screen and (max-width: 2560px) and (min-width: 1440px)  {
  #settoCard {
      height: 500px!important;
}
}